comp.os.linux.announce 1101
comp.os.linux.answers 0
comp.os.linux.development.apps 6063
comp.os.linux.development.system 8908
comp.os.linux.hardware 14119
comp.os.linux.misc 30399
comp.os.linux.networking 12424
comp.os.linux.setup 17810
#comp.os.linux.x 12287
